{% extends 'base.html' %}

{% block content %}
<h1 align="center">Lookup Child by ID</h1>
  <div class="ui container">
    <div class="ui center aligned basic segment">
          <form class="" action="{% url 'start_view' %}" method="get">
              <div class="ui left icon action input">
                <i class="search icon"></i>
                  {% csrf_token %}
                  <input type="text" name="pin" placeholder="Enter Child ID" autocomplete="off">
                    <div >
                      <input class="ui blue submit button" type="submit" value="Find Child">
                    </div>
              </div>
          </form>
        <div class="ui horizontal divider">
          Or
        </div>
        <div class="ui center aligned basic segment">
          <a class="ui teal labeled icon button" href="{% url 'profile_list_view' %}">
            <i class="user icon"></i>
            View Profile</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
<div class="ui two column centered grid">
  <div class="column">
<div class="ui form">
